<h1 class="page-header">Display Shops</h1>
<div class="col-xs-6 col-sm-3 placeholder">
  <div style='width: 800px;'>
    <div id="geolocation" style='width: 800px; height: 400px;'></div>
  </div>
  <h4>See Your Shop</h4>
</div>
</div>